@font-face {
    font-family: 'Microsoft Sans Serif Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Microsoft Sans Serif Regular'), url('/assets/fonts/microsoft-sans-serif/micross.woff') format('woff');
}
    

@font-face {
    font-family: 'Microsoft Sans Serif';
    font-style: normal;
    font-weight: normal;
    src: local('Microsoft Sans Serif'), url('/assets/fonts/microsoft-sans-serif/micross.woff') format('woff');
}

.main {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* padding: 10px; */
}

.centered {
    /* bring your own prefixes */
    display: flex;
    /* transform: scale(2) translate(-25%, -25%); */
    transform-origin: 50% 50%;
}
.title-bar {
    background: linear-gradient(
        90deg
        ,#D0697D,#E6CBCA);
    /* font-family: "Microsoft Sans Serif Regular", "Arial"; */
    font-family: "Arial";
}

html {
    background: #1C1B3E;
    background-image: url("/assets/images/tile-background.png");
    background-repeat: repeat;  
}

body {

    margin: 0;
}

/* OVERRIDE FONT SIZE */

.sunhacks-window {
    max-width: 100ch;
}

.sunhacks-window * {
    font-size: 12pt;
}

.sunhacks-window fieldset {
    /* border: initial; */

    box-shadow: inset -1px -1px #ffffff, inset -2px 1px #808080, inset 1px -2px #808080, inset 2px 2px #ffffff;
    -webkit-box-shadow: none;
}

.sunhacks-window input[type="text"], .sunhacks-window input[type="email"] {
    height: 1.8em;
}

.sunhacks-window button {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px 0;
}
.sunhacks-window input[type="checkbox"] + label {
    
    padding-left: 0.5em;
}

.sunhacks-window input[type="checkbox"] + label::before {
    width: 18px;
    height: 18px;
    background-position: center;
}
.sunhacks-window input[type="checkbox"]:checked + label::after {
    background-position: center;
    left: -13px;
    transform: scale(1.5);
}

.sunhacks-window ul.tree-view details > summary::before {
    width: 12px;
    height: 11px;
    margin-top: 3px;
    padding-top: 2px;
}

/* END OVERRIDE FONT SIZE */

.window-body {
    /* font-family: "Microsoft Sans Serif Regular" , "Arial"; */
    font-family: "Arial";
}
.window-top {
    justify-content: flex-start;
    display: flex;
}
.window-splash {
    padding-right: 8px;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
}
.window-footer {
    text-align: right;
}
.title {
    font-size: 1.5rem;
    margin: 0;
}

.splash-art {
    /* width: 120px; */
    /* height: 100%; */
    /* box-sizing: border-box; */
    border: 1px solid #1C1B3E;
    background: #7187A2;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-party {
    width:50%; transform: translate(5px, 5px);
    align-self: flex-start;
}
.computer {
    width:60%; 
}
.bottom-party {
    width:60%; transform: translate(-5px, -5px);
    align-self: flex-end;
}

.title-bar, .window, button, input, label, option, select, textarea, ul.tree-view {
    font-family: "Microsoft Sans Serif Regular";
}

#firstNameField, #lastNameField, #emailField {
    width: 200px;
}

#firstNameField {
    margin-top: 6px;
}

.volunteering {
    justify-content: space-between; display: flex;
}
.volunteering section .field-row {
    justify-content: flex-end;
}

.subscribed-box {
    width: 250px;
}
.subscribed {
    justify-content: flex-end;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    color: #7187A2;
  }

.task-bar {
    background-color: silver;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 28px;
    padding: 2px 2px 0 2px;
    /*box-shadow: inset -1px -1px #0a0a0a,inset 1px 1px #dfdfdf,inset -2px -2px grey,inset 2px 2px #fff;*/
    box-shadow: inset 0px 1px #dfdfdf, inset 0px 2px #fff;

    z-index: 999;

    width: 100vw;

    display: flex;
    flex-direction: row;
    justify-content: flex-begin;
    align-items: center;

    user-select: none;
    -webkit-user-select: none;
}

.task-bar__divider {
    box-shadow: inset -1px -1px #0a0a0a,inset 1px 1px #dfdfdf,inset -2px -2px grey,inset 2px 2px #fff;
    height: 22px;
    width: 2px;
    margin: 0px 2px;
}

.task-bar__quick {
    margin: 0 2px;
    cursor: pointer;
    padding: 2px;
}
.task-bar__quick:hover {
    box-shadow: -1px -1px #dfdfdf, 1px 1px gray;
}
.task-bar__quick:active {
    box-shadow: 1px 1px #dfdfdf, -1px -1px gray;
}

.task-bar__main {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.task-bar__launch {
    /*min-width: 0px !important;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 5px !important;
    margin: 2px;
    cursor: pointer;
}
.task-bar__launch > img {
    width: 16px;
    height: 16px;
}
.task-bar__launch--active {
    box-shadow: var(--inset__inverse);
    background-image: url(../img/selected_texture.png);
}
.task-bar__launch > img {
    margin-right: 4px;
}

.task-bar__tray {
    height: 22px;
    box-shadow: var(--icon-shadow__active);
    padding: 0 2px;
    margin: 0 2px;

    display: flex;
    flex-direction: row;
    align-items: center;
}
.task-bar__tray__icon {
    margin: 0 1px;
}

#start-btn {
    min-width: 0px !important;
    padding: 0 2px;
    cursor: pointer;
}
#start-btn > img {
    margin-top: 1px;
}
#start-btn:active > img {
    transform: translate(1px, 1px);
}

#start-btn.start-btn--active {
    transform: translate(1px, 1px);
    box-shadow: var(--inset__inverse);
}
#start-btn.start-btn--active > img {
    border: 1px dotted black;
    margin: -1px;
}

@media (max-width: 768px) {
    .main {
        padding: 4em 10px 2em 10px;
    }

    .sunhacks-window .window-top {
        flex-direction: column;
    }
    .window-splash {
        display:  flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: stretch;

        padding: 0;
    }

    .splash-art {
        flex-direction: row;
        width: auto;

        padding: 2px;
    }

    .splash-art .computer {
        width: 20%;
    }
    .splash-art .top-party, .splash-art .bottom-party {
        width: 20%;
    }
}

/* TODO make media query based on height */
/* @media only screen */ 
/*     and (min-device-width: 320px) */ 
/*     and (max-device-width: 768px) */
/*     and (-webkit-min-device-pixel-ratio: 2) { */
/*         body { */
/*             overflow-y: scroll; */
/*         } */
/*         #help { */
/*             display:none; */
/*         } */
/*         .centered { */
/*             margin-top: 60px; */ 
/*             transform: scale(1) translate(-50%, -50%); */
/*         } */
/*         .setup { */
/*             width: 80ch; */
/*         } */
/*         .subscribed-box { */
/*             width: 60vw; */
/*         } */
/*         body { */
/*             background-size: 25vw; */
/*         } */
        
/*         .window-top { */
/*             display: block; */
/*         } */
/*         .window-splash { */
/*             padding-right: 0px; */
/*         } */
/*         .splash-art { */
/*             width: 100%; */
/*             height: 100%; */
/*             box-sizing: border-box; */
/*             border: 1px solid #1C1B3E; */
/*             background: #7187A2; */
/*             flex-direction: row; */
/*             justify-content: space-between; */
/*             display: flex; */
/*         } */
        
/*         .top-party { */
/*             width:13%; */ 
/*             margin-right: auto; */
/*         } */
/*         .computer { */
/*             width:15%; margin:auto; */
/*         } */
/*         .bottom-party { */
/*             width:15%; */ 
/*             margin-left: auto; */
/*         } */
/*         .title { */
/*             font-size: 1.5rem; */
/*             margin-top: 1vh; */
/*         } */

/*         .window-footer p { */
/*             text-align: center; */
/*         } */

/* } */

details summary::marker { content: ""; }
